html {
    height: 100%;
}

body {
    height: 100%;
}
.header {
    width: 100%;
    height: 10%;
    background-color: yellow;
    align-items: center;
    text-align: center;
}
.center {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.menu {
    width: 15%;
    background-color: aqua;
    align-items: center;
    text-align: center;
}
.main {
    width: 70%;
    background-color: blue;
    align-items: center;
    text-align: center;
}
.right {
    width: 15%;
    background-color: aquamarine;
    align-items: center;
    text-align: center;
}
.footer {
    height: 10%;
    width: 100%;
    background-color: blueviolet;
    align-items: center;
    text-align: center;
}
