<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    数字を入れてください
    <form action="" th:action="@{/ex02/input}" method="post">
        <input type="text" name="num1" id="">
        <span>+</span>
        <input type="text" name="num2" id="">
        <span>=</span><br>
        <button>足し算をする</button>
    </form>
</body>
</html>
